  @font-face
  font-family: "Product Sans"
  src: url('https://fonts.gstatic.com/s/productsans/v7/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2') format('woff2')

@import "https://fonts.googleapis.com/icon?family=Material+Icons"

html
  font:
    family: "Product Sans"
    size: 3em